{% extends 'Head_basic.html' %}
{% block content %}
{% load static %}
<style>
  
</style>
<body class="bg-img">
    <link rel="stylesheet" href="{% static 'css_cadastro.css' %}">
    <video autoplay muted loop class="vid">
        <source src="{% static 'Coringa.mp4' %}" type="video/mp4" >
    </video>
    <form action="{% url 'Cadastrar' %}" method="POST" class="cont">
        {% csrf_token %}
        <h1>Cadastre-se</h1>
        <hr>
        <label> Nome </label>
        <input class="input_t" type="text" name="Nome">
            
        <label > Email </label>
        <input type="email" name="Email">
            
        <label > Senha </label>
        <input type="password" name="senha_1">
            
        <label > Confirma Senha </label>
        <input type="password" name="senha_2">
            
        <button class="btn_cadas" type="submit"> Cadastrar</button>
    </form>
  
</body>
{% endblock%}