{% extends 'Head_basic.html' %}
{% block content %}

<p>ola -> fazer a pagina -> foto como no dashbord,linha vermelha,videos row-cols-3</p>
    <style>
         img{
            margin-left: 25%;
            border-radius: 15px;
        }
        .h4_titulo,h1,p{
            text-align: center;
            color: white;
            font-size: 25px;
        }
        .div_sty{
            background-color: black; 
            border-radius: 15px;
        }
    </style>
    <h1>Aqui esta todos os videos do {{perfil.Nikename}}</h1>
    <br>
    
    {{perfil.Nikename}}
    <img src="{{perfil.Foto.url}}" alt="" width="100px">
    {{perfil.Usuario}}
    {{perfil.Titulo}}
  
    <div class="row row-cols-3">
        {% for vid in video %}
        <video autoplay controls width="200" height="200" >
            <source src="{{vid.Video.url}}"  >
        </video>
        
        {% endfor %}
    </div>
    <strong>Aqui abaixo todos os videos cadastrados</strong>
{% endblock %}