{% extends 'Head_basic.html' %}
{% block content %}
    <style>
        img{
            margin-left: 25%;
            border-radius: 15px;
        }
        .h4_titulo,h1,p{
            text-align: center;
            color: white;
            font-size: 25px;
        }
        .div_sty{
            background-color: black; 
            border-radius: 15px;
        }
         
        .botao{
            margin-left: 250px;
        }
        button:hover{
            opacity: 0.1;
            transition: 2s;
            
        }
        .flip-card{
            
            width: 320px;
            height: 240px;
            perspective: 1000px;
        }
        .flip-card-inner{
            position: relative;
            width: 320px;
            height: 240px;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            
        }
        
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front{
            position: absolute;
            width: 0px;
            height: 0px;
            background-color: black;
            border-radius: 15px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

        } 
        
        .flip-card-back {
            position: absolute;
            width: 320px;
            height: 240px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: black;
            color: black;
        }

        .flip-card-back {
            background-color: black;
            color: white;
            border-radius: 15px;
            transform: rotateY(180deg);
        }
    </style>
    <div class="container">
        <div class=" border p-3 div_sty" >
            {% for us in usuario %}
                <img src="{{us.Foto.url}}" alt="" width="500px">
                <div class="card-body">
                    <h4 class="card-body h4_titulo">{{us.Nikename}}</h4>
                </div>
                <button type="button" data-toggle="modal" data-target="#video" class="botao btn btn-success"> Cadastrar Video</button>
                
            {% endfor %}
            <button type="button" data-toggle="modal" data-target="#Perfil" class="botao btn btn-success"> Editar Perfil</button>    
                
        </div>
        
        <br>
        <h4>Seus videos </h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
        </div>
        <div class="row row-cols-3">
        {% for vid in video %}
        <div class="flip-card col">
            <div class="flip-card-inner">
                <div class="flip-card-front ">
                    
                </div>
                <video  style="border:solid 2x; border-radius: 15px; padding: 10px;" width="320" height="240" controls autoplay>
                    <source src="{{vid.Video.url}}" type="video/mp4">
                </video> 
                <div class="flip-card-back">
                    <br>
                    <h1>{{vid.Titulo}}</h1>
                    <hr style="background-color: white;">
                    <p>{{vid.Descricao}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    
    
    <!--Aqui começa o modal do video.-->
    <div class="modal" id='video'>
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Cabeçalho-->
                <div class="modal-header">
                    <h4 class="modal-title">Videos do {% for use in usuario %} {{use.Nikename}} {% endfor %}</h4>
                    <button type="button" class="close">&times;</button>
                </div>
                <!--Corpo-->
                <div class="modal-body">
                    <form action="{% url 'Cadastrar_video' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="titulo"> Titulo: </label>
                            <input type="text" class="form-control" name="Titulo">
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria: </label>
                            <input type="text" class="form-control" name="Categoria" id="" placeholder="imagem ou video">
                        </div>
                        <div class="form-group">
                            <label for="descricao"> Descriação: </label>
                            <textarea name="Descricao" id="" cols="20" rows="4" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="video">Escolha seu video</label>
                            <input type="file" name="Video" class="form-control">
                        </div>
                        <button class="btn btn-success" style="width: 470px;" >Enviar</button>
                    </form>
                </div>
                <!--Rodape-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss='modal'>Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <!--Model do Perfil-->
    <div class="modal" id='Perfil'>
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Cabeçalho-->
                <div class="modal-header">
                    <h4 class="modal-title">Perfil do {% for use in usuario %} {{use.Nikename}} {% endfor %}</h4>
                    <button type="button" class="close">&times;</button>
                </div>
                <!--Corpo-->
                <div class="modal-body">
                    {% for usu in usuario %}
                        <form action="{% url 'Perfil' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="number" name="Perfil_id"  value="{{usu.id}}" hidden>
                            <div class="form-group">
                                <label> Nikename</label>
                                <input type="text" name="Nikename" class="form-control" value="{{usu.Nikename}}" >
                            </div>

                            <div class="form-group">
                                <label > Foto de Perfil</label>
                                <a href="{{usu.Foto.url}}" target="_blank" > Foto atual</a>
                                <input type="file" name="Foto" accept="image/*" class="form-control"  >
                            </div>
                            <button class="btn btn-success" type="submit"> Enviar </button>

                            
                        </form>
                    {% endfor %}
                </div>
                <!--Rodape-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss='modal'>Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
   <!--<form action="{% url 'Perfil' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Aplido</label>
                <input type="text" name="Nikename">
                <label>foto de Perfil</label>
                <input type="file" accept="image/*" name="Foto">
            
                <button type="submit">ir</button>
            </form>-->