{% extends 'Head_basic.html' %}
{% load static %}
<body>
  {% block content %}
    <style>
      table{
        border-collapse: collapse;
        width: 200px;
        text-align: center;
        border: solid 2px black;
      }
      th,td{
        padding: 8px;
        text-align: center;
        border-bottom: 2px solid #ddd;
        font-family: 'Metamorphous', cursive;
      }
      .conta{
        position: relative;
        width: 50%;
      }
      .vid{
        display:inline-block;
        width: 100%;
        height: auto;
      }
      .overlay{
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
      }
      .conta:hover .overlay{
        bottom: 0;
        height: 40%;
      }
      .text{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        font-family: 'Metamorphous', cursive;
      }
      .btn_{
        text-align: center;
        font-family: 'Metamorphous', cursive;
      }
      .btn_:hover{
        background-color: green;
        width: 100%;
        transition: 0.5s;
      }
      h1{
        font-family: 'Metamorphous', cursive;
      }
    </style>

    <div >
      <!--O carrosel começa aqui.-->
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static '1.png' %}" alt="Los Angeles" width="1500" height="500">
          </div>
          <div class="carousel-item">
            <img src="{% static '2.png' %}" alt="Chicago" width="1500" height="500">
          </div>
          <div class="carousel-item">
            <img src="{% static '3.png' %}" alt="New York" width="1500" height="500">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!--aqui termina-->
      <div class="container">
      <hr>
      <form action="{% url 'Index' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control" type="text" name="tag" value="coloque um nome ou tag ">
          <button  type="submit" class="btn btn-primary btn_" >pesquisar</button>
        </div>
      </form>
      <hr>
      <div class="row ">
          {% for vid in videos %}
            <div class="conta col-lg-5 col-sm-6 col-xs-12">
              <video width="320" height="240" class="vid" controls autoplay >
                <source src="{{vid.Video.url}}" >
              </video>
              <div class="overlay">
                <div class="text">
                  <a href="{% url 'Detalhes' vid.id %}">{{vid.Titulo}}</a>
                </div>
              </div>
            </div>
          {% endfor %}
         
      </div>
      </div>
      
    </div>


  {% endblock %}
</body>